* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body {
     background-color: #000;
     color: #fff;
     display: flex;
     justify-content: center;
     flex-direction: column;
     min-height: 100vh;
}

.container {
     flex: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 40px;
     margin-top: 20px;
}

/* LEFT IMAGE */

.image-section img {
     width: 522px;
     height: 450px;
     height: auto;
     display: block;
}

/* RIGHT SIDE */

.login-section {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
}

.login-box {
     background: transparent;
     padding: 30px 40px;
     border-radius: 12px;
     width: 360px;
}

.logo {
     margin-bottom: 25px;
}

/* INPUTS */

.input-box {
     margin-bottom: 12px;
     position: relative;
}

.input-box input {
     width: 100%;
     padding: 12px 14px;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 6px;
     background: rgba(255, 255, 255, 0.05);
     color: #fff;
     font-size: 14px;
     line-height: 1.4;
     outline: none;
}

.input-box input::placeholder {
     color: rgba(255, 255, 255, 0.5);
}

/* SHOW/HIDE PASSWORD */

.password-box {
     position: relative;
}

.toggle-password {
     background-color: rgba(255, 255, 255, .1);
     position: absolute;
     right: 10px;
     top: 50%;
     transform: translateY(-50%);
     color: #fff;
     font-size: 14px;
     font-weight: 400;
     line-height: 18px;
     cursor: pointer;
     display: none;
     text-decoration: none;
     border-start-start-radius: 6px;
     border-end-start-radius: 6px;
     border-start-end-radius: 6px;
     padding-inline-end: 8px;
     padding-inline-start: 8px;
     border-end-end-radius: 6px;
     padding-top: 4px;
     padding-bottom: 4px;
     border-top: 1px solid #fff;
     border-left: 1px solid #fff;
     border-right: 1px solid #555;
     border-bottom: 1px solid #555;
     opacity: 1;
}

/* BUTTONS */

.login-btn {
     width: 100%;
     background: rgb(74, 93, 249);
     color: #fff;
     font-weight: 600;
     border: none;
     border-radius: 8px;
     padding: 10px 0;
     margin-top: 10px;
     cursor: pointer;
     font-size: 15px;
     transition: opacity 180ms ease, transform 120ms ease;
     opacity: 1;
     position: relative;
     overflow: hidden;
}

.loader {
     display: none;
     /* initially hidden */
     position: absolute;
     top: 50%;
     left: 50%;
     width: 18px;
     height: 18px;
     border: 2px solid rgba(255, 255, 255, 0.3);
     border-top: 2px solid #fff;
     border-radius: 50%;
     animation: spin 0.8s linear infinite;
     transform: translate(-50%, -50%);
}

@keyframes spin {
     0% {
          transform: translate(-50%, -50%) rotate(0deg);
     }

     100% {
          transform: translate(-50%, -50%) rotate(360deg);
     }
}

.btn-text.loading {
     opacity: 0;
     /* text disappear while loader spins */
}

.login-btn:hover {
     background: rgb(65, 80, 247);
}

.login-btn.dim {
     opacity: .7;
}

.login-btn.dim:hover {
     cursor: not-allowed;
}


.divider {
     display: flex;
     align-items: center;
     color: rgba(255, 255, 255, 0.4);
     margin: 20px 0;
}

.divider::before,
.divider::after {
     content: "";
     flex: 1;
     height: 1px;
     background: rgba(255, 255, 255, 0.2);
}

.divider span {
     margin: 0 10px;
     font-size: 13px;
}

.fb-btn {
     position: relative;
     left: 50px;
     display: flex;
     background: none;
     color: #4d7eea;
     border: none;
     font-weight: 600;
     font-size: 14px;
     line-height: 18px;
     cursor: pointer;
     gap: 6px;
     margin-bottom: 10px;
}

.forgot {
     color: #fff;
     text-decoration: none;
     font-weight: 600;
     font-size: 14px;
     line-height: 18px;
}

.forgot:hover {
     text-decoration: underline;
}

.signup-box {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     font-size: 14px;
     color: #fff;
     line-height: 18px;
}

.signup-box a {
     color: #6a41e5;
     text-decoration: none;
     font-weight: 600;
     font-size: 14px;
     line-height: 18px;
}

/* FOOTER */

.site-footer {
     padding: 30px 0;
     width: 88%;
     text-align: center;
     margin-top: auto;
}

.footer-nav {
     margin: 0 auto;
     padding: 0 20px;
}

.footer-nav ul {
     list-style: none;
     padding: 0;
     margin: 0px 0px 20px 17%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     gap: 16px;
     text-align: center;
}

.footer-nav li {
     font-size: 12px;
     line-height: 18px;
}

.footer-nav a {
     text-decoration: none;
     color: rgb(179, 179, 179);
     white-space: nowrap;
     font-size: 12px;
     line-height: 16px;
     font-weight: 400;
}

.footer-nav a:hover {
     text-decoration: underline;
}

.footer-info {
     margin-left: 16%;
     display: flex;
     justify-content: center;
     font-size: 12px;
     color: rgb(179, 179, 179);
}

.language-select {
     background: transparent;
     border: none;
     outline: none;
     color: rgb(179, 179, 179);
     width: 66px;
     cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 850px) {
     .container {
          flex-direction: column;
          gap: 30px;
     }

     .image-section img {
          display: none;
     }

     .fb-btn {
          left: 22px;
     }

     .login-box {
          width: 300px;
     }

     footer,
     .forgot,
     .signup-box {
          display: none;
     }
}

@media (max-width: 420px) {
     .error-toast {
          top: 12px;
          right: -100%;
     }

     .error-toast.show {
          right: 10px;
     }

     .error-toast-content {
          padding: 12px;
          border-radius: 10px;
     }
}